<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-xl text-cyan-800">Diagnoses</h1>
    <%= link_to "New Diagnoses", new_diagnosis_path, class: "rounded-lg py-2 px-2 bg-cyan-800 text-white block font-small" %>
  </div>

  <div>
    <table class="table-auto w-full  mt-6 border-b border-gray-200">
      <thead class="bg-slate-100 text-left">
      <tr class="border-b border-gray-200">
        <th class="px-3 py-3">Code</th>
        <th class="px-3 py-3">Title</th>
        <th class="px-3 py-3">Display</th>
        <th colspan="2" class="px-3 py-3"></th>
      </tr>
      </thead>
      <tbody>
      <% @diagnoses.each do |diagnosis| %>
        <tr class="border-b border-gray-200">
          <td class="px-3 py-3">
            <%= diagnosis.code %>
          </td>
          <td class="px-3 py-3">
            <%= diagnosis.title %>
          </td>
          <td class="px-3 py-3">
            <%= diagnosis.display %>
          </td>
          <td class="px-3 py-3">
            <%= link_to diagnosis_path(diagnosis) do %>
              <i class="fa-solid fa-magnifying-glass"></i>
            <% end %>
          </td>
          <td class="px-3 py-3">
            <%= link_to edit_diagnosis_path(diagnosis) do %>
              <i class="fa-solid fa-user-pen"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
