<div id="<%= dom_id sex %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Sex name:</strong>
    <%= sex.sex_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Active:</strong>
    <%= sex.active %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this sex", sex, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this sex", edit_sex_path(sex), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
