<%= form_with(model: admission, class: "contents") do |form| %>
  <% if admission.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(admission.errors.count, "error") %> prohibited this admission from being saved:</h2>

      <ul>
        <% admission.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid grid-cols-2 gap-20">
    <div class="my-5">
      <%= form.label :admitted_date %>
      <%= form.date_field :admitted_date, {class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", data: { flatpickr_target: "admitted", patient_target: "admitted" }} %>
    </div>

    <div class="my-5">
      <%= form.label :discharge_date %>
      <%= form.date_field :discharge_date, {class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", data: { flatpickr_target: "discharge", patient_target: "discharge" }} %>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-20" data-controller = "slim-select">
    <div class="my-5">
      <%= form.label :diagnosis_id %>
      <%= form.select :diagnosis_id, Diagnosis.all.collect {|l| [l.display, l.id]}, { include_blank: "Select Diagnosis"}, { class: "", data: { slim_select_target: "diagnosis" } } %>
    </div>

    <div class="my-5">
      <%= form.label :assigned_staff_id %>
      <%= form.select :assigned_staff_id, AssignedStaff.all.collect {|l| [l.first_name, l.id]}, { include_blank: "Select Assigned Staff"}, { class: "", data: { slim_select_target: "stafftype" } } %>
    </div>
  </div>

  <div class="my-5">
    <%= form.label :notes %>
    <%= form.text_area :notes, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <%= form.hidden_field :patient_id, value: @patient.id %>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer mb-5" %>
  </div>
<% end %>
